/*!
 * Based on Writ by Curtis McEnroe
 *
 * https://cmcenroe.me/writ/LICENSE (ISC)
 */

/* Fonts, sizes & vertical rhythm */

html {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}

body {
  background-color: #f8f8f8;
  color: #171717;
  margin: 1.5rem;
  padding: 1.5rem;
}

code,
pre,
samp,
kbd {
  color: #111;
  font-family: 'Roboto Mono', monospace;
  font-size: .833rem;
}

kbd { font-weight: bold; }

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

/* Minor third */
h1 { font-size: 2.488em; }
h2 { font-size: 2.074em; }
h3 { font-size: 1.728em; }
h4 { font-size: 1.44em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }
small { font-size: .833em; }

h1,
h2,
h3 { line-height: 3rem; }

p,
ul,
ol,
dl,
table,
blockquote,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 0;
}

ul ul,
ol ol,
ul ol,
ol ul { margin: 0; }

hr,
center {
  border: 0;
  margin: 0;
  padding: 1.5rem 0 0;
}

/* Colors */

nav a {
  &:visited { color: #004b91; }
}

a {
  color: #004b91;
  text-decoration: none;

  &:visited { color: #60b; }
}

code,
pre,
samp,
thead,
tfoot { background-color: rgba(0, 0, 0, .05); }

main aside,
blockquote,
ins { border: solid rgba(0, 0, 0, .05); }

pre,
code,
samp { border: solid rgba(0, 0, 0, .1); }

/* Layout */

body > header {
  background-color: #4080c0;
  background-image: url('/img/logo-header.png');
  background-origin: content-box;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  margin: -1.5rem -1.5rem 0;
  padding: 1rem .75rem;
  text-align: center;
}

body > header > a {
  color: #fff;
  display: block;
  font-size: 1.728em;
  height: 100%;
  width: 100%;

  &:visited { color: #fff; }
}

main,
body > footer {
  display: block;
  margin: auto;
  max-width: 78ch;
}

main figure,
main aside {
  float: right;
  margin: 1.5rem 0 0 1ch;
}

main aside {
  border-width: 0 0 0 .5ch;
  max-width: 26ch;
  padding: 0 0 0 .5ch;
}

/* Copy blocks */

blockquote {
  border-width: 0 0 0 .5ch;
  margin-left: 1.5ch;
  margin-right: 3ch;
  padding: 0 0 0 1ch;
}

pre {
  border-radius: 2px;
  border-width: 1px;
  margin-bottom: -1px;
  margin-top: calc(1.5rem - 1px);
  overflow-x: auto;
  padding: 0 .5ch;

  code {
    background-color: transparent;
    border: 0;
    padding: 0;
    white-space: inherit;
  }
}

img { max-width: 100%; }

/* Lists */

ul,
ol,
dd { padding: 0 0 0 3ch; }
dd { margin: 0; }

ul > li { list-style-type: disc; }
li ul > li { list-style-type: circle; }
li li ul > li { list-style-type: square; }

ol > li { list-style-type: decimal; }
li ol > li { list-style-type: lower-roman; }
li li ol > li { list-style-type: lower-alpha; }

nav ul {
  list-style-type: none;
  padding: 0;

  li {
    display: inline;
    padding-left: 1ch;
    white-space: nowrap;

    &:first-child { padding-left: 0; }
  }
}

/* Tables */

table {
  border-collapse: collapse;
  line-height: calc(1.5rem - 1px);
  margin-bottom: -1px;
  overflow-x: auto;
  width: 100%;
}

th,
td {
  border: solid #dbdbdb;
  border-width: 1px;
  padding: 0 .5ch;
}

/* Copy inline */

sup,
sub {
  font-size: .75em;
  line-height: 1em;
}

ins {
  border-width: 1px;
  padding: 1px;
  text-decoration: none;
}

mark {
  background-color: #fe0;
  color: inherit;
  padding: 1px;
}

code,
samp {
  border-radius: 2px;
  border-width: 1px;
  padding: .1em .2em;
  white-space: nowrap;
}

.share {
  text-align: center;
  font-size: 2em;
  padding-top: 2em;

  a {
    color: #e7edf4;
    padding: 0 .25em;

    .fa-twitter-square:hover {
      color: #4099ff;
    }
    .fa-hacker-news:hover {
      color: #ff6600;
    }
    .fa-reddit-square:hover {
      color: #5f99cf;
    }
    .fa-google-plus-square:hover {
      color: #dd4b39;
    }
    .fa-linkedin-square:hover {
      color: #007bb6;
    }
    .fa-facebook-square:hover {
      color: #3b5998;
    }
  }
}
