

extends page

block content
  h2 Email:&nbsp;
    a(href='mailto:michael@mior.ca') michael@mior.ca
  p RIT students (or potential students) should contact me at #[a(href="mailto:mmior@mail.rit.edu") mmior@mail.rit.edu] instead of using the form below.
  h2 Book a meeting
  | <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3FHe7vVC99q0K3JC9apM77gaK3gLv3b7Gp0dJUeovyWdYS5ma0sxrpWdRP4Y-GWXxmokwwbSuq?gv=true" style="border: 0" width="100%" height="600" frameborder="0"></iframe>
