
extends layout

block prepend head
  link(rel='canonical', href=locals.url + '/')
  meta(property='og:image' content=locals.url + '/og.png')
  meta(property='og:image:width', content=1200)
  meta(property='og:image:height', content=630)
  meta(property='og:title', content='Michael Mior')
  meta(property='og:description', content='Software & Data Engineer | Data Unity Lab Director | Assistant Professor at RIT, PhD')
  meta(property='og:type', content='profile')

block content
  p.h-card
    | You've reached the personal website of #[a(class="p-name u-url" rel="me" href="https://michael.mior.ca/") Michael Mior]. 
    | I'm an Senior Data Engineer at [OneChronos](https://onechronos.com). 
    | I received my PhD from the #[a(href="https://cs.uwaterloo.ca/") David R. Cheriton School of Computer Science] at the #[a(href="https://uwaterloo.ca/") University of Waterloo].
    | To get in touch, send me an #[a(rel="me" class="u-email" href="mailto:michael@mior.ca") email] and we'll talk. 
  div.share
    a(title='LinkedIn', href="https://www.linkedin.com/in/michaelmior/", target='_blank', rel='noopener')
      i.fa.fa-linkedin-square(aria-hidden='true')
    a(title='GitHub', href="https://github.com/michaelmior", target='_blank', rel='noopener')
      i.fa.fa-github-square(aria-hidden='true')
    a(title='Stack Overflow', href="https://stackoverflow.com/users/123695/michael-mior", target='_blank', rel='noopener')
      i.fa.fa-stack-overflow(aria-hidden='true')

block append footer
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css', integrity='sha384-aNUYGqSUL9wG/vP7+cWZ5QOM4gsQou3sBfWRr/8S3R1Lv0rysEmnwsRKMbhiQX/O', crossorigin='anonymous')
