
extends layout

block content
  p.h-card
    | You've reached the personal website of #[a(class="p-name u-url" rel="me" href="https://michael.mior.ca/") Michael Mior].
    | I'm an Assistant Professor in the Computer Science Department at the #[a(href="https://www.cs.rit.edu/") Rochester Institute of Technology].
    | I received my PhD from the #[a(href="https://cs.uwaterloo.ca/") David R. Cheriton School of Computer Science] at the #[a(href="https://uwaterloo.ca/") University of Waterloo].
    | To get in touch, send me an #[a(rel="me" class="u-email" href="mailto:michael@mior.ca") email] and we'll talk.
    | (Students should contact me using my #[a(href="mailto:mmior@cs.rit.edu") RIT email].)
