
extends layout

block append vars
  - bodyclass = 'project'

block header
  h1= page.title

block content
  section.content!= page.html

block append footer
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,400italic,700italic')
  link(rel='stylesheet', href=contents.styles['code.scss'].url)
