---
title: Contact
---
%img{:src => '../img/Michael-Mior.jpg',
     :alt => 'Michael Mior',
     :title => 'Michael-Mior',
     :width => '200',
     :height => '250',
     :style => 'float:left;margin-right:1em;border:1px solid #000'}

%div.vcard
  %div.fn Michael Mior
  %div= link_to 'michael.mior@gmail.com', 'mailto:michael.mior@gmail.com', :class => 'email'
  %br/
  %div.adr
    %div.street-address 70 Spadina Road, Apt. 603
    %div
      %span.locality Toronto
      ,
      %span.region{:title => 'Ontario'} ON
      %span.postal-code M5R 2T6
    %div.country-name Canada
    %br/
    %div.tel 416.273.6292
