---
title: Home
headline: Welcome
---
%p
  You've reached the website of computer science Master Michael Mior. I'm currently a Senior Web Developer at
  = link_to('Bunch', 'http://www.joinbunch.com/') + '.'

%p
  The rest of the site has more
  = link_to('about me', '/about/') + '.'
  To get in touch, send me an
  = link_to 'email', 'mailto:&#109;&#105;&#099;&#104;&#097;&#101;&#108;&#064;&#109;&#105;&#111;&#114;&#046;&#099;&#097;'
  and we'll talk.
