---
title: Publications
---
:plain
  <div class="acmdlitem" id="item2602624">
    <img src="http://dl.acm.org/images/oa.gif" width="25" height="25" border="0" alt="ACM DL Author-ize service" style="vertical-align:middle"/>
    <a href="http://dl.acm.org/authorize?N71145" title="Automated schema design for NoSQL databases">
      Automated schema design for NoSQL databases
    </a>

    <div style="margin-left:25px">
      <a href="http://dl.acm.org/author_page.cfm?id=81485657205" >Michael J. Mior</a><br>
        SIGMOD'14 PhD Symposium Proceedings of the 2014 SIGMOD PhD symposium,&nbsp;2014
    </div>
  </div>
  <div class="acmdlitem" id="item1987818">
    <img src="http://dl.acm.org/images/oa.gif" width="25" height="25" border="0" alt="ACM DL Author-ize service" style="vertical-align:middle"/>
    <a href="http://dl.acm.org/authorize?435586" title="FlurryDB: a dynamically scalable relational database with virtual machine cloning">
      FlurryDB: a dynamically scalable relational database with virtual machine cloning
    </a>

    <div style="margin-left:25px">
      <a href="http://dl.acm.org/author_page.cfm?id=81485657205">Michael J. Mior</a>,
      <a href="http://dl.acm.org/author_page.cfm?id=81100368390">Eyal de Lara</a><br>
      SYSTOR '11 Proceedings of the 4th Annual International Conference on Systems and Storage,&nbsp;2011
    </div>
  </div>
