name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - run: git config --global core.autocrlf input
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'yarn'
      - uses: oven-sh/setup-bun@v2

      - name: Lint
        run: bunx @biomejs/biome@2.3.11 lint Gulpfile.js plugins/

  build:
    name: Build
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - run: git config --global core.autocrlf input
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn gulp build
