#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
    def paginate_articles
        grouped_articles.each do |year, subarticles|
            @items << Nanoc::Item.new(
                "= render 'archive_page', :item_id => #{year}",
                { :title => "Archive (#{year})", :kind => 'archive', :year => year },
                "/blog/archive/#{year}/",
                { :mtime => (subarticles.max_by { |article| article[:mtime] })[:mtime] }
            )
        end
    end

    paginate_articles
end

compile '/(sitemap|atom)/' do
    filter :haml
end

compile '/blog/archive/*' do
    filter :haml
    filter :typogruby

    layout 'default'
end

compile '/blog/*' do
    filter :kramdown
    filter :colorize_syntax
    filter :typogruby

    layout 'default'
end

compile '/styles/' do
  filter :sass
  filter :yui_compressor, :type => :css
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    if item[:extension] == 'md'
      filter :kramdown
    else
      filter :haml
    end

    filter :typogruby
    layout 'default'
  end
end

route '/blog/*' do
    if item[:created_at]
        Date.parse(item[:created_at]).strftime('/%Y/%m/%d') +
            item.identifier.chop + '.html'
    else
        item.identifier.chop + '.html'
    end
end

route '/(sitemap|atom)/' do
    item.identifier.chop + '.' + item[:extension]
end

route '/styles/' do
  '/styles.css'
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :haml, :encoding => 'utf-8', :format => :html5
